/* ################### Defaults ################# */

body {
  background-color: #000;
  color: #fff;
  background-color: #fff;
  color: #000;
  line-height: 1;
  margin: 0;
  overflow-x: hidden;
}

nav, header, footer {
  display: block;
}

nav {
  width: 100%;
  margin: 0;
}

/* This menu was taken from Jason Brewer (2020) of Devslopes's Advanced HTML/CSS tutorial. */

nav ul {
  background-color: #F90716;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.topmenu li {
  list-style: none;
  float: left;
}

ul.topmenu li.topmenu-right {
  list-style: none;
  float: right;
}

ul.topmenu li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: lowercase;
  color: #eee;
}

ul.topmenu li a:hover {
  background-color: #FFF323;
  color: #222;
}

.yinyang {
  width: 100%;
  background-image: url('./assets/yinyang_transparent_small.png');
  min-height: 358px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  background-color: #ddd;
}

.article-text {
  color: #333;
}


/* ################### Mobile ################# */

/* Also from Brewer (2020). */

@media screen and (max-width: 680px) {
  ul.topmenu li:not(:nth-child(1)) {
    display: none;
  }

  ul.topmenu li.dropdownIcon {
    display: block;
    float: right;
  }

  ul.topmenu.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }

  ul.topmenu.responsive {
    position: relative;
  }

  ul.topmenu.responsive li {
    display: inline;
    float: none;
  }

  ul.topmenu.responsive li a {
    display: block;
    text-align: left;
  }
}